* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    display: flex;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
    background: rgb(248, 248, 248);
}

label {
    text-transform: uppercase;
    color: rgb(115, 115, 115);
    font-size: 0.8rem;
    font-weight: bold;
}

input {
    padding: 6px;
    width: 200px;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
}

h1 {
    font-size: 1.5rem;
}

button {
    height: 40px;
    width: 180px;
    font-size: 1rem;
    background-color: #596D48;
    color: white;
    border-color: transparent;
    border-radius: 8px;
    margin-bottom: 32px;
}

a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

.title {
    padding: 0 32px;
}

.title h1 {
    margin-bottom: 8px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    background: white;
    gap: 20px;
    box-shadow: 1px 5px 8px 1px lightgray;
}

.form-row {
    display: flex;
    gap: 64px;
}

.form-row div {
    display: flex;
    flex-direction: column;
}

.buttons {
    padding: 0 32px;
    position: relative;
    z-index: 1;
}

#background-image {
    height: 100vh;
    width: 30vw;
}       