* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container {
    display: flex;
}

.input-container {
    display: flex;
    flex-direction: column;
}

#background-image {
    height: 100vh;
    width: 30vw;
}